@model Order

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete order of @Html.DisplayFor(x => x.ItemName) ?</h3>
<div>
    <form asp-action="Delete">
        <input type="submit" value="Yes" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark text-white">No</a>
    </form>
</div>
